@using Microsoft.AspNetCore.Http;
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="@Url.Content("~/Images/" + Model.Anh)" alt="Image">
                    </div>
                   
                </div>
                
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">@Model.TenSp</h3>
            <div class="d-flex mb-3">
                
             
            </div>
            @if(Model.GiaKm != null)
            {
                <h3 class="font-weight-semi-bold mb-4" style="color:red">@string.Format("{0:#,##0.###}", Model.GiaKm) đ</h3>

                <h3 class="text-muted ml-2"><del>@string.Format("{0:#,##0.###}", Model.GiaBan) đ</del></h3>
            }
            else
            {
                <h3 class="font-weight-semi-bold mb-4" style="color:red">@string.Format("{0:#,##0.###}", Model.GiaBan) đ</h3>
            }
            <h3 class="font-weight-semi-bold mb-4"></h3>
           
            
           
            <div class="d-flex align-items-center mb-4 pt-2">
                <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-minus">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control bg-secondary text-center" value="1">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <a asp-action="Add" asp-controller="Cart" asp-route-MaSP="@Model.MaSp" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng</a>
            </div>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1" style="font-weight:700">Thông tin sản phẩm:</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    @Html.Raw(Model.Mota)
                   
                
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->