@model X.PagedList.IPagedList<SanPham>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Home Page";
}

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/Sidebar.cshtml");
            }
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <img  src="~/Images/box.png"/>
                </div>
                @foreach (var item in Model)
                {
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src="@Url.Content("~/Images/" + item.Anh)" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 @* class="text-truncate mb-3" *@>@item.TenSp</h6>
                                <div class="d-flex justify-content-center">
                                    @if(item.GiaKm != null)
                                    {
                                            <h6 style="color:red;font-weight:800">@string.Format("{0:#,##0.###}", item.GiaKm) đ</h6>

                                            <h6 class="text-muted ml-2"><del>@string.Format("{0:#,##0.###}", item.GiaBan)</del></h6>
                                    }
                                    else
                                    {
                                            <h6 style="color:red;font-weight:800">@string.Format("{0:#,##0.###}", item.GiaBan) đ</h6>
                                    }
                                    </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a asp-action="Details" asp-route-MaSp="@item.MaSp" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem thêm</a>
                                <a asp-action="Add" asp-controller="Cart" asp-route-MaSP="@item.MaSp" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                    
                }
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate" style="align-items:center">
                    <ul class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { lsp = ViewBag.lsp, page = Model.PageNumber - 1 })"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }

                        <li class="page-item @(1 == ViewBag.Page ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { lsp = ViewBag.lsp, page = 1 })">1</a>
                        </li>

                        @if (Model.PageNumber > 3)
                        {
                            <li class="page-item">
                                <span class="page-link">...</span>
                            </li>
                        }

                        @for (int i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
                        {
                            if (i > 1 && i < Model.PageCount)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { lsp = ViewBag.lsp, page = i })">@i</a>
                                </li>
                            }
                        }

                        @if (Model.PageNumber < Model.PageCount - 2)
                        {
                            <li class="page-item">
                                <span class="page-link">...</span>
                            </li>
                        }

                        @if (Model.PageCount > 1)
                        {
                            <li class="page-item @(Model.PageCount == ViewBag.Page ? "active" : "") ">
                                <a class="page-link" href="@Url.Action("Index", new { lsp = ViewBag.lsp, page = Model.PageCount })">@Model.PageCount</a>
                            </li>
                        }

                        @if (Model.HasNextPage)
                        {

                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { lsp = ViewBag.lsp, page = Model.PageNumber + 1 })"><i class="fa fa-angle-right"></i></a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- Products Start -->
                <div class="container-fluid py-4">
                    <div class="text-center mb-4">
                        <h2 class="section-title px-5"><span class="px-2">Có thể bạn thích ? </span></h2>
                    </div>
                    @await Component.InvokeAsync("Products")
                </div>
                <!-- Products End -->
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->