﻿@using X.PagedList
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    IPagedList<HoaDon> dsfull = ViewBag.PagedList;
    IPagedList<HoaDon> ds1 = ViewBag.PagedList1;
    IPagedList<HoaDon> ds2 = ViewBag.PagedList2;
    IPagedList<HoaDon> ds3 = ViewBag.PagedList3;
    IPagedList<HoaDon> ds4 = ViewBag.PagedList4;
    
}
<h2 style="text-align:center;font-weight:700; margin-top:20px;margin-bottom: 30px">Danh sách đơn hàng</h2>
<!-- Tìm kiếm -->
<form asp-action="Index" method="get" id="formSearch">
    <div class="col-md-9">
        <div class="input-group" style="margin-left:-22px">
            <div style="padding: .25rem 1rem">
                <label>Email:</label>
                <input type="text" name="email" value="@ViewBag.email" class="form-control">
            </div>

            <div style="padding: .25rem 1rem">
                <label>Địa chỉ:</label>
                <input type="text" name="diachi" value="@ViewBag.diachi" class="form-control">
            </div>

            <div style="padding: .25rem 1rem">
                <label>Số điện thoại:</label>
                <input type="text" name="sdt" value="@ViewBag.sdt" class="form-control">
            </div>

            <div style="padding: .25rem 1rem">
                <label>Từ ngày:</label>
                <input type="date" id="beginDate" name="beginDate" value="@(((DateTime)ViewBag.beginDate).ToString("yyyy-MM-dd"))" class="form-control">
            </div>

            <div style="padding: .25rem 1rem">
                <label>Đến ngày:</label>
                <input type="date" id="endDate" name="endDate" value="@(((DateTime)ViewBag.endDate).ToString("yyyy-MM-dd"))" class="form-control">
            </div>

            <div style="padding: .25rem 1rem; margin-top: 32px">
                <input type="submit" value="Tìm kiếm" class="btn btn-primary">
            </div>

            <div style="padding: .25rem 1rem; margin-top: 32px">
                <a href="~/Admin/Order" class="btn btn-secondary">Khôi phục</a>
            </div>

            <input type="hidden" name="pageId" id="pageId" value="">
        </div>
    </div>
</form>

    <!-- /.card -->
            
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">Chưa xác nhận</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Đang giao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Đã giao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="true">Đã hủy</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div class="tab-pane fade" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                        <!-- Content for tab "Chưa xác nhận" -->
                        <table id="showtable1" class="table">
                            <thead class="table__thead">
                                <tr>
                                    <th class="table__th">Khách hàng</th>
                                    <th class="table__th">Ngày tạo</th>
                                    <th class="table__th">Địa chỉ</th>
                                    <th class="table__th">SĐT</th>
                                    <th class="table__th">Ghi chú</th>
                                    <th class="table__th">Thanh toán</th>
                                    <th class="table__th">Trạng thái</th>
                                    <th class="table__th">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in ds1)
                                {
                                    <tr class="table-row table-row--chris">
                                        <td class="table-row__td">
                                            <p>@items.TenKh</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Ngay</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.DiaChi</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Sdt</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Note</p>
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.ThanhToan == 0)
                                            {
                                                <p>Thanh toán khi nhận hàng</p>
                                            }
                                            @if (items.ThanhToan == 1)
                                            {
                                                <p>Thanh toán qua paypal</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.TrangThai == 1)
                                            {
                                                <p>Chờ xác nhận</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            <div class="input-form">
                                                <a href="@Url.Action("Xacnhan", "HoaDon", new { @id = items.MaHd, page1 = ViewBag.Page1 })" class="btn btn-primary">Xác nhận</a>
                                                <a href="@Url.Action("Huy", "HoaDon", new { @id = items.MaHd, page1 = ViewBag.Page1, pageId = 1 })" class="btn btn-danger">Hủy</a>
                                                <a asp-action="Details" asp-controller="HoaDon" class="btn btn-success" asp-route-id="@items.MaHd">Chi tiết</a>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col-sm-12 " style="display:flex;justify-content: space-between;">

                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    @if (ds1.HasPreviousPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page1 = ds1.PageNumber - 1, pageId = 1 })"><i class="fa fa-angle-left"></i></a>
                                        </li>

                                    }

                                    <li class="page-item @(1 == ViewBag.Page1 ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page1 = 1, pageId = 1 })">1</a>
                                    </li>

                                    @if (ds1.PageNumber > 3)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @for (int i = ds1.PageNumber - 1; i <= ds1.PageNumber + 1; i++)
                                    {
                                        if (i > 1 && i < ds1.PageCount)
                                        {
                                            <li class="page-item @(i == ds1.PageNumber ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page1 = i, pageId = 1 })">@i</a>
                                            </li>
                                        }
                                    }

                                    @if (ds1.PageNumber < ds1.PageCount - 2)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @if (ds1.PageCount > 1)
                                    {
                                        <li class="page-item @(ds1.PageCount == ViewBag.Page1 ? "active" : "") ">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page1 = ds1.PageCount, pageId = 1 })">@ds1.PageCount</a>
                                        </li>
                                    }

                                    @if (ds1.HasNextPage)
                                    {

                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page1 = ds1.PageNumber + 1, pageId = 1 })"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    }
                                </ul>

                            </div>
                            <p>Danh sách từ @ViewBag.PageStartItem1 đến @ViewBag.PageEndItem1 trên tổng số @ViewBag.TotalItemCount1 hóa đơn chưa xác nhận</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                        <!-- Content for tab "Đang giao" -->
                        <table id="showtable2" class="table">
                            <thead class="table__thead">
                                <tr>
                                    <th class="table__th">Khách hàng</th>
                                    <th class="table__th">Ngày tạo</th>
                                    <th class="table__th">Địa chỉ</th>
                                    <th class="table__th">SĐT</th>
                                    <th class="table__th">Ghi chú</th>
                                    <th class="table__th">Thanh toán</th>
                                    <th class="table__th">Trạng thái</th>
                                    <th class="table__th">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in ds2)
                                {
                                    <tr class="table-row table-row--chris">
                                        <td class="table-row__td">
                                            <p>@items.TenKh</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Ngay</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.DiaChi</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Sdt</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Note</p>
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.ThanhToan == 0)
                                            {
                                                <p>Thanh toán khi nhận hàng</p>
                                            }
                                            @if (items.ThanhToan == 1)
                                            {
                                                <p>Thanh toán qua paypal</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.TrangThai == 2)
                                            {
                                                <p>Đang giao hàng</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            <div class="input-form">

                                                <a href="@Url.Action("Vanchuyen", "HoaDon", new { @id = items.MaHd, page2 = ViewBag.Page2 })" class="btn btn-primary">Đã giao</a>
                                                <a href="@Url.Action("Huy", "HoaDon", new { @id = items.MaHd, page2 = ViewBag.Page2, pageId = 2 })" class="btn btn-danger">Hủy</a>
                                                <a asp-action="Details" asp-controller="HoaDon" class="btn btn-success" asp-route-id="@items.MaHd">Chi tiết</a>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col-sm-12 col-md-7">
                            <p>Danh sách từ @ViewBag.PageStartItem2 đến @ViewBag.PageEndItem2 trên tổng số @ViewBag.TotalItemCount2 hóa đơn đang giao hàng</p>
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    @if (ds2.HasPreviousPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page2 = ds2.PageNumber - 1, pageId = 2 })"><i class="fa fa-angle-left"></i></a>
                                        </li>

                                    }

                                    <li class="page-item @(1 == ViewBag.Page2 ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page2 = 1, pageId = 2 })">1</a>
                                    </li>

                                    @if (ds2.PageNumber > 3)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @for (int i = ds2.PageNumber - 1; i <= ds2.PageNumber + 1; i++)
                                    {
                                        if (i > 1 && i < ds2.PageCount)
                                        {
                                            <li class="page-item @(i == ds2.PageNumber ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page2 = i, pageId = 2 })">@i</a>
                                            </li>
                                        }
                                    }

                                    @if (ds2.PageNumber < ds2.PageCount - 2)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @if (ds2.PageCount > 1)
                                    {
                                        <li class="page-item @(ds2.PageCount == ViewBag.Page2 ? "active" : "") ">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page2 = ds2.PageCount, pageId = 2 })">@ds2.PageCount</a>
                                        </li>
                                    }

                                    @if (ds2.HasNextPage)
                                    {

                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page2 = ds2.PageNumber + 1, pageId = 2 })"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                        <!-- Content for tab "Đã giao" -->
                        <table id="showtable3" class="table">
                            <thead class="table__thead">
                                <tr>
                                    <th class="table__th">Email</th>
                                    <th class="table__th">Ngày tạo</th>
                                    <th class="table__th">Địa chỉ</th>
                                    <th class="table__th">SĐT</th>
                                    <th class="table__th">Ghi chú</th>
                                    <th class="table__th">Thanh toán</th>
                                    <th class="table__th">Trạng thái</th>
                                    <th class="table__th">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in ds3)
                                {
                                    <tr class="table-row table-row--chris">
                                        <td class="table-row__td">
                                            <p>@items.TenKh</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Ngay</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.DiaChi</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Sdt</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Note</p>
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.ThanhToan == 0)
                                            {
                                                <p>Thanh toán khi nhận hàng</p>
                                            }
                                            @if (items.ThanhToan == 1)
                                            {
                                                <p>Thanh toán qua paypal</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.TrangThai == 3)
                                            {
                                                <p>Đã giao hàng</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            <div class="input-group">
                                                <a asp-action="Details" asp-controller="HoaDon" class="btn btn-success" asp-route-id="@items.MaHd">Chi tiết</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col-sm-12 col-md-7">
                            <p>Danh sách từ @ViewBag.PageStartItem3 đến @ViewBag.PageEndItem3 trên tổng số @ViewBag.TotalItemCount3 hóa đơn đã giao hàng</p>
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    @if (ds3.HasPreviousPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page3 = ds3.PageNumber - 1, pageId = 3 })"><i class="fa fa-angle-left"></i></a>
                                        </li>

                                    }

                                    <li class="page-item @(1 == ViewBag.Page3 ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page3 = 1, pageId = 3 })">1</a>
                                    </li>

                                    @if (ds3.PageNumber > 3)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @for (int i = ds3.PageNumber - 1; i <= ds3.PageNumber + 1; i++)
                                    {
                                        if (i > 1 && i < ds3.PageCount)
                                        {
                                            <li class="page-item @(i == ds3.PageNumber ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page3 = i, pageId = 3 })">@i</a>
                                            </li>
                                        }
                                    }

                                    @if (ds3.PageNumber < ds3.PageCount - 2)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @if (ds3.PageCount > 1)
                                    {
                                        <li class="page-item @(ds3.PageCount == ViewBag.Page3 ? "active" : "") ">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page3 = ds3.PageCount, pageId = 3 })">@ds3.PageCount</a>
                                        </li>
                                    }

                                    @if (ds3.HasNextPage)
                                    {

                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page3 = ds3.PageNumber + 1, pageId = 3 })"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active show" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                        <!-- Content for tab "Đã hủy" -->
                        <table id="showtable4" class="table">
                            <thead class="table__thead">
                                <tr>
                                    <th class="table__th">Email</th>
                                    <th class="table__th">Ngày tạo</th>
                                    <th class="table__th">Địa chỉ</th>
                                    <th class="table__th">SĐT</th>
                                    <th class="table__th">Ghi chú</th>
                                    <th class="table__th">Thanh toán</th>
                                    <th class="table__th">Trạng thái</th>
                                    <th class="table__th"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in ds4)
                                {
                                    <tr class="table-row table-row--chris">
                                        <td class="table-row__td">
                                            <p>@items.TenKh</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Ngay</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.DiaChi</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Sdt</p>
                                        </td>
                                        <td class="table-row__td">
                                            <p>@items.Note</p>
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.ThanhToan == 0)
                                            {
                                                <p>Thanh toán khi nhận hàng</p>
                                            }
                                            @if (items.ThanhToan == 1)
                                            {
                                                <p>Thanh toán qua paypal</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            @if (items.TrangThai == 4)
                                            {
                                                <p>Đã hủy</p>
                                            }
                                        </td>
                                        <td class="table-row__td">
                                            <div class="input-form">
                                                <a asp-action="Details" asp-controller="HoaDon" class="btn btn-success" asp-route-id="@items.MaHd">Chi tiết</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col-sm-12 col-md-7">
                            <p>Danh sách từ @ViewBag.PageStartItem4 đến @ViewBag.PageEndItem4 trên tổng số @ViewBag.TotalItemCount4 hóa đơn đã hủy</p>
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    @if (ds4.HasPreviousPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page4 = ds4.PageNumber - 1, pageId = 4 })"><i class="fa fa-angle-left"></i></a>
                                        </li>

                                    }

                                    <li class="page-item @(1 == ViewBag.Page4 ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page4 = 1, pageId = 4 })">1</a>
                                    </li>

                                    @if (ds4.PageNumber > 3)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @for (int i = ds4.PageNumber - 1; i <= ds4.PageNumber + 1; i++)
                                    {
                                        if (i > 1 && i < ds4.PageCount)
                                        {
                                            <li class="page-item @(i == ds4.PageNumber ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page4 = i, pageId = 4 })">@i</a>
                                            </li>
                                        }
                                    }

                                    @if (ds4.PageNumber < ds4.PageCount - 2)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @if (ds4.PageCount > 1)
                                    {
                                        <li class="page-item @(ds4.PageCount == ViewBag.Page4 ? "active" : "") ">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page4 = ds4.PageCount, pageId = 4 })">@ds4.PageCount</a>
                                        </li>
                                    }

                                    @if (ds4.HasNextPage)
                                    {

                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "HoaDon", new { page4 = ds4.PageNumber + 1, pageId = 4 })"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("formSearch").addEventListener("submit", function (event) {
                var beginDateInput = document.getElementById("beginDate");
                var endDateInput = document.getElementById("endDate");

                var beginDateValue = new Date(beginDateInput.value);
                var endDateValue = new Date(endDateInput.value);

                // Chuyển đổi giá trị thành chuỗi yyyy-MM-dd
                var formattedBeginDate = beginDateValue.toISOString().split("T")[0];
                var formattedEndDate = endDateValue.toISOString().split("T")[0];

                // Gán giá trị mới vào input
                beginDateInput.value = formattedBeginDate;
                endDateInput.value = formattedEndDate;
            });
        </script>
